<mat-toolbar class="header1 mat-elevation-z1">
  <button routerLink="" class="button2">
    <span>
    <a>
      <img class="logo" src="assets/twitter-logo.png" alt="logo">
    </a>
    </span>
  </button>

  <span class="title-group">
    Twitter Hashtag Tracker
  </span>

  <button mat-button class="user-button" (click)="searchHashtagInDatabase()">
    <mat-icon>saved_search</mat-icon>Last Hashtag Saved
  </button>

<!--  <button routerLink="" class="button" mat-button >-->
<!--    <mat-icon>saved_search</mat-icon>-->
<!--    Last Search-->
<!--  </button>-->

</mat-toolbar>
