.search-bar{
  position: relative;
  width: 100%;

  input[type=text]{
    width: 95%;
    outline: none;
    border: 1px solid lightgray;
    border-radius: 40px;
    font-size: 16px;
    padding: 12px 40px;
  }

  div.right-icon, div.left-icon{
    position: absolute;
    margin-right: 5px;
    top: 23%;
    right: -35px;
    font-size: 21px;

    .search_icon{
      font-size: 25px;
    }
  }
  div.right-icon{
    color: #5994F5;
  }

  div.left-icon{
    color: #9aa8a6;
  }

}
